.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf
eupa2019-poster.Rproj
my_poster1-concordance.tex
my_poster1.log
my_poster1.nav
my_poster1.snm
my_poster1.synctex.gz
my_poster1.tex
my_poster1.toc
my_poster1.pdf
figure
